*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  color: #d6a0a0;
  text-decoration: none;
  text-transform: none;
  border: none;
  border-radius: none;
  outline: none;
}

