*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
  color: #436f4d;
=======
  color: #ff0000;
>>>>>>> master
=======
  color: #999999;
>>>>>>> master
=======
  color: #999999;
>>>>>>> master
  text-decoration: none;
  text-transform: none;
  border: none;
  border-radius: none;
  outline: none;
}

body {
  background: #999999;
}
